@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.w100 {
  width: 100%;
}

.w90 {
  width: 90%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}

::-webkit-scrollbar {
  width: 10px;
  background: #20b4be;
}

::-webkit-scrollbar-thumb {
  cursor: grab;
  background: #20b4be;
  background: linear-gradient(135deg, #22c55e, #20b4be);
}

.revalia {
  font-family: "Tomorrow", sans-serif;
  font-weight: 700;
  font-style: normal;

  /* Gradiente */
  background: linear-gradient(135deg, #20b4be, #22c55e);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* importante pro texto pegar o gradiente */
  display: inline-block; /* ajuda a aplicar bem o gradiente no texto */
}
